body{
	background-color: black;
	color: white;

}
ul{
	line-height: 75px;
	list-style: none;
}
#list1{
	border-width: 2;
	border-style: double;
	border-color: orange;
	color: white;

}
#list2{
	border-width: 2;
	border-style: double;
	border-color: yellow;
	color: white;
}
#list3{
	border-width: 2;
	border-style: double;
	border-color: white;
	color: white;
}
#list4{
	border-width: 2;
	border-style: double;
	border-color: orange;
	color: white;




