body{
	background-color: black;
	color: white;

}
ul{
	line-height: 75px;
	list-style: none;
}
#list1{
	border-width: 2;
	border-style: double;
	border-color: orange;
	color: white;
	width: 400px;
	height:300px;
	float:left;
}
#list2{
	border-width: 2;
	border-style: double;
	border-color: yellow;
	color: white;
	width: 400px;
	height: 300px;
	float:left;
}
#list3{
	border-width: 2;
	border-style: double;
	border-color: white;
	color: white;
	width: 400px;
	height: 300px;
	float: left;
}
#list4{
	border-width: 2;
	border-style: double;
	border-color: orange;
	color: white;
	width: 400px;
	height: 300px;
	float: left;
}
#list5{
	border-width: 2;
	border-style: double;
	border-color: yellow;
	color: white;
	width: 400px;
	height: 300px;
	float:left;
}
#list6{
	border-width: 2;
	border-style: double;
	border-color: white;
	color: white;
	width: 400px;
	height: 300px;
	float: left;

}
h1{
	display: center;
}




